html {
  scroll-behavior: smooth;
}

.Nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 115px;
  background-color: white;
  z-index: 3;
}
.Nav > img {
  width: 180px;
  height: 70px;
}
.Nav > ul {
  display: flex;
  gap: 18px;
}
.Nav > ul > li > a {
  color: var(--title-page);
  font-weight: 500;
}
.Nav > ul > li > a:hover {
  color: var(--primary-color);
}

.Section {
  padding-inline: 115px;
  width: 100vw;
  height: 100vh;
} 
.Productos{
  display: flex;
  align-items: center;
  justify-content: start;
}
.Productos .Title{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.Productos label{
display: flex;
flex-direction: column;
}
.Nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nosotros > h2 {
  font-size: 5em;
  -webkit-text-stroke: 2px var(--primary-color);
  -webkit-text-fill-color: white;
}

.Nosotros p {
  font-size: 1.3em;
  font-weight: 500;
}

.Mision {
  gap: 60px;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Mision h3 {
  font-size: 3em;
  font-weight: bolder;
}

.Mision p {
  font-size: 1.1em;
  font-weight: 700;
  color: #b4b4b4;
}

.Mision > img {
  height: 500px;
  width: 100%;
  border-radius: 6px;
}
.Mision div{
   
    width: fit-content;
}
.Vision {
  gap: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.Vision h3 {
  font-size: 3em;
  font-weight: bolder;
}

.Vision p {
  font-size: 1.1em;
  font-weight: 700;
  color: #b4b4b4;
}
.Vision div{
   
    width: fit-content;
}
.Contact {
  display: flex;

  align-items: center;
}

.NameContainer h3 strong{
    color: black;
    font-size: 2em;
}
.NameContainer h3{
    color: blue;
}
.ContactContainer{
    width: 100%;
    border-block: 2px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.InfoContainer{
    padding: 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: #f1f1f1;
}
.InfoContainer article{
    display: flex;
    align-items: center;
    gap: 5px;
}
.ShoppingModal{
    position: absolute;
    right:100%;
    background-color: red;
}
.Menu{
    border: none;
    display: none;
    background: none;
}
.PhoneMenu{
    position: absolute;
    right: 100%;
    width: 100%;
    height: 100vh;
}


@media (width < 800px) {
    .Nosotros h2{
        font-size: 4em;
        white-space: 0px;
        -webkit-text-stroke: 1px var(--primary-color);
    }
    .Nosotros p{
        font-size: 1em;
    }
    .Menu{
        display: block;
    }
    .Nav{
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;
    }
    .Nav>ul{
        display: none;
    }
    .Section{
        padding-block: 10px;
        padding-inline: 10px;
    }
    .Mision, .Vision {
       
        gap: 10px;
        flex-direction: column-reverse;
    }
    .Contact .ContactContainer{
        border: none;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .Mision img, .Vision img{
        width: 100%;
        height: 300px;
    }

}