.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 98%;
}

.form__field {
  font-family: "Onest";
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(155, 153, 153);
  outline: 0;
  font-size: 0.8rem;

  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: rgb(155, 153, 153);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: var(--primary-color);
    font-weight: 600;
  }
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary-color), var(--hover-color));
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
